<div class="container text-2xl flex justify-between items-center">
      <div class="flex flex-col p-4 mt-4">
        <% if(name){ %>
          <div>
            <p class="block py-2 pl-3 pr-4 text-black">Hi, <b><%= name %></b></p>
          </div>
            <% } %>  
        <div>
          <a href="/" class="block py-2 pl-3 pr-4 text-blue-600" aria-current="page">Home</a>
        </div>
      </div>
      <div>
        <% if(name){ %>
          <div>
            <a href="/auth/logout" class="block py-2 pl-3 pr-4  text-blue-600" aria-current="page">logout</a>
          </div>
        <% } else { %>
        <div>
          <a href="/auth/login" class="block py-2 pl-3 pr-4 text-blue-600" aria-current="page">Login</a>
        </div>
        <% } %> 
      </div>
  </div>
 