<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Add new sport field</h1>

  <form action="/dashboard/addField" method="post">
    <p>Field Name</p>
    <input type="text" name="name" id="">
    <p>Price</p>
    <input type="number" name="price" id="">
    <p>City</p>
    <select name="CityId" id="">
      <option value="" selected disabled>Select</option>
      <% cities.forEach(each => { %>
        <option value="<%= each.id %>"><%= each.name %></option>
      <% }) %>
    </select>
    <p>Category</p>
    <select name="CategoryId" id="">
      <option value="" selected disabled>Select</option>
      <% categories.forEach(each => { %>
        <option value="<%= each.id %>"><%= each.name %></option>
      <% }) %>
    </select> 
    <p>Image Url</p>
    <input type="text" name="imageUrl" id="">
    <p></p>
    <input type="submit" value="Add new field">
  </form>


</body>
</html>