<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style.css">
  <title>Sign Up</title>
</head>
<body>
  
  <div class="w-[80%] mx-auto">
    <div class="w-[50%] m-10 p-10 mx-auto rounded-lg shadow-md bg-slate-200">
      <div class="mx-auto text-center flex justify-center items-center">
        <p class="self-center text-4xl font-semibold whitespace-nowrap text-black">go</p>
        <p class="self-center text-4xl font-semibold whitespace-nowrap text-blue-700">Sport</p>
    </div>
        <p class="mb-5 font-bold ml-20 text-center">● register</p>
        <form action="/auth/register" method="post">
         <div class="mx-auto text-center text-red-700">
          <%- include('partials/_requiredError') %> 
         </div>
              <div class="mb-6">
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Your username</label>
                <input type="text" name="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="gosport1">
              </div>
              <div class="mb-6">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your Email</label>
                <input type="text" name="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="ex: user@gosport.com">
              </div>
              <div class="mb-6">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Your password</label>
                <input type="password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
              </div>
              <div class="mb-6">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Full Name</label>
                <input type="text" name="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
              </div>
              <div class="mb-6">
                <label for="dateOfBirth" class="block mb-2 text-sm font-medium text-gray-900">Date Of Birth</label>
                <input type="date" name="dateOfBirth" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
              </div>
              <div class="mb-6">
                <label for="role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a role</label>
                <select name="role" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                  <option selected disabled>Choose a gender</option>
                  <option value="user">User</option>
                  <option value="provider">Provider</option>
                </select>
              </div>
              <div class="mb-6">
                <label for="gender" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a Gender</label>
                <select name="gender" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                  <option selected disabled>Choose a gender</option>
                  <option value="M">Male</option>
                  <option value="F">Female</option>
                </select>
              </div>
              <div class="mb-6">
                <label for="CityId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a city</label>
                <select name="CityId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <option selected disabled>Choose a city</option>
                  <% cities.forEach(el => { %>
                    <option value="<%=el.id%>"><%=el.name%></option>
                  <% }) %>
                </select>
              </div>
              <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Register</button>
            </form>
            <div class="m-5 text text-center">
              already have account?
              <a href="/auth/login" class="p-2 m-2 bg-green-600 text-white rounded-lg">Sign in</a>
            </div>
            <div class="m-5 text text-center mt-10">
              <a href="/" class="p-2 text-blue-700 rounded-lg">No, I want to login as guest</a>
            </div>
      </div>
  </div>
</body>
</html>