<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Document</title>
</head>
<body class="bg-gray-300">
    <div class="bg-blue-600 w-[50%] h-[80%] mx-auto mt-[10%] rounded-3xl shadow-2xl text-center pb-[20px]">
    <h1 class="text-3xl mx-auto text-white font-bold text-center px-[10%] pt-[10%]">Thankyou for Booking with goSport</h1>
    <h1 class="text-xl mx-auto text-white text-center px-[10%] pb-[10%]">we will contact you with email if the field is ready for you</h1>
    <a href="/" class="text-2xl mx-auto text-yellow-200 text-center px-[10%]">Back to home</h1>
    </div>
    <script>

    </script>
</body>
</html>